[x-cloak] {
    display: none !important;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 80px;
}

*:focus {
    box-shadow: none !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.nav-link-bottom {
    display: inline !important;
}

.tooltip-inner {
    text-align: left;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 2px;
    flex: none;
}

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

input[type="checkbox"],
input[type="checkbox"] + label {
    cursor: pointer;
}

.card-body
{
    overflow: auto;
    height: 490px;
}

@media (min-width: 768px) {
    .card-body {
        height: 595px;
    }
}

@media (min-width: 2560px) {
    .card-body {
        height: 950px;
    }
}

.card-text {
    border: 2px solid #ddd;
    border-radius: 8px;
}

.progress-chat {
    width: 200px;
    height: 4px;
}

.progress-bar-chat {
    height: 4px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
}

.progress-bar-indeterminate {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminate-animation 1s infinite linear;
    transform-origin: 0% 50%;
}

@keyframes indeterminate-animation {
    0% {
        transform: translateX(0) scaleX(0);
    }

    40% {
        transform: translateX(0) scaleX(0.4);
    }

    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}

.btn-clipboard {
    line-height: 1;
    color: var(--bs-body-color);
    background-color: var(--bd-pre-bg);
    border: 0;
    border-radius: .25rem;
    margin-right: -.4em
}

    .btn-clipboard:hover {
        color: var(--bs-link-hover-color)
    }

    .btn-clipboard:focus {
        z-index: 3
    }

.btn-clipboard {
    position: relative;
    z-index: 2;
}